div {
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 2px black;
	width: 30%;
	background-color: white;
	display: flex;
	flex-direction: column; /* 让 div 内的内容垂直排列 */
	justify-content: center; /* 垂直居中 */
	align-items: center; /* 水平居中 */
	margin: 0 auto;
}

body {
	background-color: #f4f4f4;
}

h1,h2 {
	text-align: center;
}